$text-primary: #5A8DEE!important;
$text-success: #39DA8A!important;
$text-warning: #FDAC41!important;
$text-danger: #FF5B5C!important;

$bg-rgba-primary: rgba(90,141,238,.2)!important;
$bg-rgba-success: rgba(57,218,138,.2)!important;
$bg-rgba-warning: rgba(253,172,65,.2)!important;
$bg-rgba-danger: rgba(255,91,92,.2)!important;

$link-blue: #5A8DEE;
$greenish-blue: #8A99B5;