@import '~bootstrap';

@import '../components/Main/main';
@import '../components/Navbar/navbar';
@import '../components/Table/table';
@import '../components/Footer/footer';
@import '../components/GlowCard/glow-card';
@import '../components/Map/map';

@import './variables';

.bg-rgba-primary {
    background-color: $bg-rgba-primary;
}
.bg-rgba-success {
    background-color: $bg-rgba-success;
}
.bg-rgba-warning {
    background-color: $bg-rgba-warning;
}
.bg-rgba-danger {
    background-color: $bg-rgba-danger;
}
.text-primary {
    color: $text-primary;
}
.text-success {
    color: $text-success;
}
.text-warning {
    color: $text-warning;
}
.text-danger {
    color: $text-danger;
}

.text-subtitle {
    color: $greenish-blue;
    font-size: 0.85rem;
}

a {
    color: $link-blue;
}

body {
    background-color: #100e17;
    color: #fff;
}

.hr-white {
    background: #464D5C!important;
    border-radius: 100%;
}