<map-section>
    <div class="card card-default">
        <div class="card-header">
            <h5 class="card-title">Hospital visualization</h5>
            <p class="text-subtitle">Locations of the hospitals use as quarantine centres in SriLanka</p>
        </div>
        <div class="card-body px-0 pb-0">
            <div id="map"></div>
        </div>
    </div>
</map-section>